[flake8]
max-line-length = 120
exclude = 
    .git,
    __pycache__,
    venv,
    venv2,
    .venv,
    build,
    dist,
    *.egg-info,
    tests/,
    scripts/,
    test_*.py,
    fleet_agent_windows_tray.py,
    ./deploy/

# Ignorer les erreurs courantes
ignore =
    W293,  # Whitespace
    W291,
    W503,  # Binary operator line break
    E501,  # Line too long
    E226,  # Arithmetic operator whitespace
    E302,  # Expected 2 blank lines
    E305,  # Expected 2 blank lines after function

# Configuration pour être moins strict
per-file-ignores =
    __init__.py:F401
