[Unit]
Description=DashFleet gunicorn daemon
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/dashfleet  # Remplace par le chemin du projet sur le serveur
Environment="PATH=/var/www/dashfleet/.venv/bin"
Environment="FLEET_TOKEN=change_this_secret"
ExecStart=/var/www/dashfleet/.venv/bin/gunicorn -w 3 -b 127.0.0.1:8000 main:app

Restart=on-failure

[Install]
WantedBy=multi-user.target
